<h1>プロフィール編集</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <div>
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :bio, "自己紹介文" %><br>
    <%= f.text_area :bio %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>