<h1>投稿編集</h1>

<%= form_with model: @post, local: true do |f| %>

<div class="form-group">
    <%= f.label :title, "バンド名" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tag, "タグ" %>
    <%= f.select :tag, Post.tag_options, prompt: 'タグを選択してください', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body, "特徴、おすすめの曲など" %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :link, "YouTube公式chのリンク" %>
    <%= f.url_field :link, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "編集を完了する", class: 'btn btn-primary' %>
  </div>
<% end %>


<%= link_to '戻る', posts_path %>
