<h1>新規投稿</h1>

<%= form_with model: @post, local: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "バンド名" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :tag, "タグ" %>
    <%= form.select :tag, Post.tags.keys.map { |tag| [tag, tag] }, { include_blank: "タグを選択してください" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body, "おすすめの曲、特徴など" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :link, "YouTube公式ch" %>
    <%= form.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "投稿する", class: "btn btn-primary" %>
  </div>
<% end %>