<h1>新規投稿</h1>

<%= form_with model: @post, local: true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@post.errors.count, "件") %> のエラーがあります</h4>

      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group small-field">
    <%= f.label :title, "バンド名" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group small-field">
    <%= f.label :tag, "タグ" %>
    <%= f.select :tag, Post.tags.keys.map { |tag| [tag, tag] }, { include_blank: "タグを選択してください" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body, "おすすめの曲、特徴など" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :link, "YouTube公式ch" %>
    <%= f.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "投稿する", class: "btn btn-primary" %>
  </div>
<% end %>

<style>
  .small-field .form-control {
    max-width: 200px;
    width: 100%;
  }

  .form-group {
    margin-bottom: 1rem;
  }
</style>