<h2>ユーザー管理</h2>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>ユーザーネーム</th>
      <th>メールアドレス</th>
      <th>アクション</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-warning' %> |
          <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'ダッシュボードに戻る', admin_dashboards_path, class: 'btn btn-secondary mt-4' %>

<%= paginate @users, param_name: :user_page %>
