<h4>通報内容を記入してください</h4>

<%= form_with(model: @report, url: reports_path, method: :post) do |f| %>
  <%= f.hidden_field :reportable_type, value: params[:reportable_type] %>
  <%= f.hidden_field :reportable_id, value: params[:reportable_id] %>
  <div>
    <%= f.label :reason, "通報理由" %>
    <%= f.text_area :reason, required: true %>
  </div>
  <div>
    <%= f.submit "通報する", class: "btn btn-primary" %>
  </div>
<% end %>
